# Abhängigkeitsverzeichnisse
node_modules/

# Parcel Cache
.cache
.parcel-cache

# IDE-spezifische Dateien
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode-test
.idea

# Logs
logs
*.log
npm-debug.log*

# npm Cache und Pakete
.npm
*.tgz

# Coverage Verzeichnisse
coverage
*.lcov
.nyc_output

# Temporäre Dateien
.DS_Store
Thumbs.db
